{% extends 'base.html'%}
{% block content %}
<div class="container mt-5">
    <div class="row row-cols-4">
          <div class="card mb-4 mr-5">
            <h5 class="card-header">post.date_pub</h5>
            <div class="card-body">
              <h5 class="card-title">post.title</h5>
              <p class="card-text">post.body |truncatewords:15</p>
              <a href="{{ post.get_absolute_url  }}" class="btn btn-light">Read</a>
  
            </div>
               <div class="card-footer text-muted">
                   Tags:
                   <a href="{{tag.get_absolute_url}}">tag.title</a>
                </div>
          </div>
          <div class="card mb-4 mr-5">
            <h5 class="card-header">post.date_pub</h5>
            <div class="card-body">
              <h5 class="card-title">post.title</h5>
              <p class="card-text">post.body |truncatewords:15</p>
              <a href="{{ post.get_absolute_url  }}" class="btn btn-light">Read</a>
  
            </div>
               <div class="card-footer text-muted">
                   Tags:
                   <a href="{{tag.get_absolute_url}}">tag.title</a>
                </div>
          </div>
          <div class="card mb-4">
            <h5 class="card-header">post.date_pub</h5>
            <div class="card-body">
              <h5 class="card-title">post.title</h5>
              <p class="card-text">post.body |truncatewords:15</p>
              <a href="{{ post.get_absolute_url  }}" class="btn btn-light">Read</a>
  
            </div>
               <div class="card-footer text-muted">
                   Tags:
                   <a href="{{tag.get_absolute_url}}">tag.title</a>
                </div>
          </div>
          <div class="card mb-4 mr-5">
            <h5 class="card-header">post.date_pub</h5>
            <div class="card-body">
              <h5 class="card-title">post.title</h5>
              <p class="card-text">post.body |truncatewords:15</p>
              <a href="{{ post.get_absolute_url  }}" class="btn btn-light">Read</a>
  
            </div>
               <div class="card-footer text-muted">
                   Tags:
                   <a href="{{tag.get_absolute_url}}">tag.title</a>
                </div>
          </div>
          <div class="card mb-4 mr-5">
            <h5 class="card-header">post.date_pub</h5>
            <div class="card-body">
              <h5 class="card-title">post.title</h5>
              <p class="card-text">post.body |truncatewords:15</p>
              <a href="{{ post.get_absolute_url  }}" class="btn btn-light">Read</a>
  
            </div>
               <div class="card-footer text-muted">
                   Tags:
                   <a href="{{tag.get_absolute_url}}">tag.title</a>
                </div>
          </div>
    </div>
  </div>
{% endblock %}
